In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [2]:
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'ETL_Mini_Project_SPribojac_PLehel_IPirogan.ipynb',
 'Project 2 Proposal.docx',
 'README.md',
 'Resources']

In [4]:
os.getcwd()

'C:\\d\\Data_analytics\\13-Project-2-ETL\\project_\\Crowdfunding_ETL-main'

In [5]:
os.chdir('C:\\d\\Data_analytics\\13-Project-2-ETL\\project_\\Crowdfunding_ETL-main\\Resources')

### Extract the crowdfunding.xlsx Data

In [6]:
# Read the data into a Pandas DataFrame
crowdfunding_df = pd.read_excel('crowdfunding.xlsx')
crowdfunding_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [7]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [8]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df = crowdfunding_df.columns.tolist()
crowdfunding_info_df

['cf_id',
 'contact_id',
 'company_name',
 'blurb',
 'goal',
 'pledged',
 'outcome',
 'backers_count',
 'country',
 'currency',
 'launched_at',
 'deadline',
 'staff_pick',
 'spotlight',
 'category & sub-category']

In [9]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_df[['category', 'subcategory']] = crowdfunding_df['category & sub-category'].str.split('/', n=1, expand=True)

crowdfunding_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [10]:
crowdfunding_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
 15  category                 1000 non-null   object
 16  subcategory              1000 non-null   object
dtypes: bool(2), int64(7), object(8)
memory usage: 119.3+ KB

In [11]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_df['category'].unique().tolist()
sub_categories = crowdfunding_df['subcategory'].unique().tolist()

print(categories)
print(sub_categories)

['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [12]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(sub_categories))

9
24

In [13]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [14]:
# Use a list comprehension to add "cat" to each category_id.
cat_ids = ['cat' + str(category_id) for category_id in category_ids]
# Use a list comprehension to add "subcat" to each subcategory_id.
scat_ids = ['subcat' + str(subcategory_id) for subcategory_id in subcategory_ids]
    
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [15]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id': cat_ids, 'category': categories})

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({'subcategory_id': scat_ids, 'subcategory': sub_categories})

In [16]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [17]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [ ]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

# champaign notes

In [18]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [19]:
# # Drop unwanted columns
# # Format the launched_date and end_date columns to datetime format
campaign_df.rename(columns={'blurb': 'description', 'launched_at': 'launch_date', 'deadline': 'end_date'}, inplace=True)
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], utc=True)
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], utc=True)
campaign_df = campaign_df.drop(columns=['category & sub-category'])
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600+00:00,1970-01-01 00:00:01.614578400+00:00,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1970-01-01 00:00:01.611554400+00:00,1970-01-01 00:00:01.621918800+00:00,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800+00:00,1970-01-01 00:00:01.640844+00:00,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1970-01-01 00:00:01.634792400+00:00,1970-01-01 00:00:01.642399200+00:00,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1970-01-01 00:00:01.608530400+00:00,1970-01-01 00:00:01.629694800+00:00,False,False,theater,plays

In [20]:
# Check the datatypes
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cf_id          1000 non-null   int64
 1   contact_id     1000 non-null   int64
 2   company_name   1000 non-null   object
 3   description    1000 non-null   object
 4   goal           1000 non-null   int64
 5   pledged        1000 non-null   int64
 6   outcome        1000 non-null   object
 7   backers_count  1000 non-null   int64
 8   country        1000 non-null   object
 9   currency       1000 non-null   object
 10  launch_date    1000 non-null   datetime64[ns, UTC]
 11  end_date       1000 non-null   datetime64[ns, UTC]
 12  staff_pick     1000 non-null   bool
 13  spotlight      1000 non-null   bool
 14  category       1000 non-null   object
 15  subcategory    1000 non-null   object
dtypes: bool(2), datetime64[ns, UTC](2), int64(5), object(7)
memory usage: 111.5+ KB

In [24]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.

# Merge category_df and campaign_df
merged_df = pd.merge(campaign_df, category_df, on='category', how='inner')
# Merge subcategory_df into the merged_df
merged_df = pd.merge(merged_df, subcategory_df, left_on='subcategory', right_on='subcategory', how='inner')
# drop category & subcategory columns
merged_df = merged_df.drop(columns=['category'])
merged_df = merged_df.drop(columns=['subcategory'])
# Display the final merged DataFrame
merged_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600+00:00,1970-01-01 00:00:01.614578400+00:00,False,False,cat1,subcat1
1,1175,2288,Werner-Bryant,Virtual uniform frame,1800,7991,successful,222,US,USD,1970-01-01 00:00:01.592629200+00:00,1970-01-01 00:00:01.611986400+00:00,False,False,cat1,subcat1
2,873,2067,Stewart LLC,Cloned bi-directional architecture,1300,12047,successful,113,US,USD,1970-01-01 00:00:01.606629600+00:00,1970-01-01 00:00:01.623387600+00:00,False,False,cat1,subcat1
3,2568,5989,Castillo-Carey,Cross-platform solution-oriented process improvement,142400,21307,failed,296,US,USD,1970-01-01 00:00:01.588654800+00:00,1970-01-01 00:00:01.622350800+00:00,False,False,cat1,subcat1
4,1211,3307,"Wright, Hartman and Yu",User-friendly tertiary array,3300,12437,successful,131,US,USD,1970-01-01 00:00:01.611900+00:00,1970-01-01 00:00:01.613196+00:00,False,False,cat1,subcat1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800,7608,canceled,75,IT,EUR,1970-01-01 00:00:01.625288400+00:00,1970-01-01 00:00:01.625720400+00:00,False,True,cat8,subcat15
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400,4596,successful,144,US,USD,1970-01-01 00:00:01.606543200+00:00,1970-01-01 00:00:01.614492+00:00,False,False,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700,7496,successful,300,US,USD,1970-01-01 00:00:01.609740+00:00,1970-01-01 00:00:01.633323600+00:00,False,False,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900,12155,successful,419,US,USD,1970-01-01 00:00:01.611554400+00:00,1970-01-01 00:00:01.618722+00:00,False,False,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700,11929,successful,331,US,USD,1970-01-01 00:00:01.643695200+00:00,1970-01-01 00:00:01.644991200+00:00,False,False,cat9,subcat24

In [26]:
# Export the DataFrame as a CSV file. 
merged_df.to_csv("../Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []


# Print out the list of values for each row.
print(dict_values)

In [ ]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [ ]:
# Check the datatypes.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)